<a href="https://colab.research.google.com/github/mrityun-jay/batch-50_python/blob/main/lab1_10jan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python")
a=10.5
print(type(a))

Welcome to Python
<class 'float'>

Keyboards and Identifiers**

Statements

In [ ]:
a=10+10
print(a)
#Single line statements
#Now for multi line statemnets
a=10+10+\
 20+20+20+\
 30+20+10
print(a)

20
140

In [ ]:
a= '''Lorem ipsum is a placeholder text commonly used in graphic design and publishing to fill empty spaces in a layout before actual content is added.
 Essentially, its a string of seemingly
 random Latin words that are designed to not distract the viewer from the overall design, allowing them to focus on
 elements like font, color, and spacing, rather than the meaning of the text itself.'''
print(a)

#using triple quotes

Lorem ipsum is a placeholder text commonly used in graphic design and publishing to fill empty spaces in a layout before actual content is added.
 Essentially, its a string of seemingly
 random Latin words that are designed to not distract the viewer from the overall design, allowing them to focus on
 elements like font, color, and spacing, rather than the meaning of the text itself.

In [ ]:
l1=['a',
    'b',
    'c',
    'd',
    'e'
    ]
l1

['a', 'b', 'c', 'd', 'e']

In [ ]:
mystring = ''' Hey what's Up '''
print(mystring)

 Hey what's Up

In [ ]:
num1=int(input("What is your age "))
num2=int(input('In which standard are you in '))
sum=(num1+num2)
print(sum)

#Using integer format type conversion

What is your age 16
In which standard are you in 12
28

In [ ]:
num1=float(input("What is your age "))
num2=float(input('In which standard are you in '))
sum=(num1+num2)
print(sum)

#Float instead of integer type conversion

What is your age 22
In which standard are you in 34
56.0

In [ ]:
num1=float(input("What is your age "))
num2=float(input('In which standard are you in '))
sum=(num1*num2)
print(sum)

#Multiplication

What is your age 10
In which standard are you in 10
100.0

In [ ]:
a=float(input("What is your age "))
b=int(input('Your Pincode '))
sum=(a+b)
print(sum)

What is your age 12
Your Pincode 846004
846016.0

In [ ]:
#boolean operator Either True or False
#20==30 - False
#10*10==100 - True
20>30

False