<a href="https://colab.research.google.com/github/mrityun-jay/batch-50_python/blob/main/Lab3feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
l1=[3,4,5,6,7,8]
l1.insert(5,10)
print(l1)

[3, 4, 5, 6, 7, 10, 8]

In [22]:
list_1=[1,2,3,4,5,6,7,8]
for i,Index in enumerate(list_1):
 print(Index,"is at index no:",i)

1 is at index no: 0
2 is at index no: 1
3 is at index no: 2
4 is at index no: 3
5 is at index no: 4
6 is at index no: 5
7 is at index no: 6
8 is at index no: 7

In [ ]:
12=[]
for i in range (20,1000):
  sum=0
  num=i

In [3]:
l1 = [i for i in range(11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l1=[i for i in range(20)if i%2==0]
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
def is_prime(num):num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

Write a program to insert prime numbers to a lost using lost comprehension?

In [ ]:
l1=[i for i in range(1,20) for ]

In [13]:
l1=[num**2 for num in range(10,20)]
print(l1)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [17]:
l1=[num for num in range (1000) if num%3==0 if num%5==0 if num%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]

In [18]:
l1=[num for num in range (1000) if num%3==0 and num%5==0 and num%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]