<a href="https://colab.research.google.com/github/mrityun-jay/batch-50_python/blob/main/lab_3Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
t1=(1,2,3,4,5)
t2=('one','two','three','four','five')
t3=(1,'one',6,7.5,"dhruv")
print(t1,t2,t3)
#We cant use del function or delete in tuples

(1, 2, 3, 4, 5) ('one', 'two', 'three', 'four', 'five') (1, 'one', 6, 7.5, 'dhruv')

In [18]:
t1=(1,2,3,4,5,6,8)
t2=('one','two','three','four','five')
t3=(1,'one',6,7.5,"dhruv")
print(t1[-2:])
print(t1[2:])
print(t1[:2])


t4=t1+t2
print(t4)
print(t2[0][0])

(6, 8)
(3, 4, 5, 6, 8)
(1, 2)
(1, 2, 3, 4, 5, 6, 8)
(1, 2, 3, 4, 5, 6, 8)
8
(2, 4, 6)
(8, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 8, 'one', 'two', 'three', 'four', 'five')
o

In [20]:
t1=(1,2,3,4,5,6,8)
t2=('one','two','three','four','five')
t3=(1,'one',6,7.5,"dhruv")
print(t1[:])
print(t1[::])
print(t1[-1])
print(t1[1:6:2])
print(t1[::-1])

(1, 2, 3, 4, 5, 6, 8)
(1, 2, 3, 4, 5, 6, 8)
8
(2, 4, 6)
(8, 6, 5, 4, 3, 2, 1)

In [21]:
t1=(1,2,3,4,5,6,8)
t2=('one','two','three','four','five')
t3=(1,'one',6,7.5,"dhruv")
print(t2[0][0])

o

In [22]:
t2=('one','two','three','four','five',(5,8),('four','five'))
print(t2[5][1])

8